parameters:
    level: 1

    paths:
        - src
        - tests

    excludes_analyse:
        - tests/bootstrap.php
        - src/Resources/skeleton/

    autoload_files:
        - vendor/autoload.php
        - vendor/bin/.phpunit/phpunit-7.4/vendor/autoload.php
